<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841400795862-3f0ied7mtd3r0kr49k7a7vs4435f17ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841400795862-3f0ied7mtd3r0kr49k7a7vs4435f17ia</string>
	<key>API_KEY</key>
	<string>AIzaSyARaaruUWsi-psISy3KFJwhICYyi8Ksn-8</string>
	<key>GCM_SENDER_ID</key>
	<string>841400795862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EDMAKS--OOO.Take-GoCoffe</string>
	<key>PROJECT_ID</key>
	<string>takeandgo-513f4</string>
	<key>STORAGE_BUCKET</key>
	<string>takeandgo-513f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841400795862:ios:fe40c3858726dc1cd2ff77</string>
	<key>DATABASE_URL</key>
	<string>https://takeandgo-513f4.firebaseio.com</string>
</dict>
</plist>